<?xml version="1.0"?>
<config>
    <modules>
        <K10r_Versioncentral>
            <version>1.0.0</version>
        </K10r_Versioncentral>
    </modules>
    <global>
        <blocks>
            <k10r_versioncentral>
                <class>K10r_Versioncentral_Block</class>
            </k10r_versioncentral>
        </blocks>
        <helpers>
            <k10r_versioncentral>
                <class>K10r_Versioncentral_Helper</class>
            </k10r_versioncentral>
        </helpers>
        <models>
            <k10r_versioncentral>
                <class>K10r_Versioncentral_Model</class>
            </k10r_versioncentral>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <k10r_versioncentral>
                    <files>
                        <default>K10r_Versioncentral.csv</default>
                    </files>
                </k10r_versioncentral>
            </modules>
        </translate>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <k10r_versioncentral>
                        <type>singleton</type>
                        <class>k10r_versioncentral/observer</class>
                        <method>afterSaveConfig</method>
                    </k10r_versioncentral>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <K10r_Versioncentral after="Mage_Adminhtml">K10r_Versioncentral_Adminhtml</K10r_Versioncentral>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <k10r_versioncentral_schedule_update>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>k10r_versioncentral/observer::scheduleUpdate</model>
                </run>
            </k10r_versioncentral_schedule_update>
            <k10r_versioncentral_update>
                <run>
                    <model>k10r_versioncentral/observer::update</model>
                </run>
            </k10r_versioncentral_update>
        </jobs>
    </crontab>
    <default>
        <k10r_versioncentral>
            <general>
                <active>0</active>
                <token></token>
            </general>
        </k10r_versioncentral>
    </default>
</config>
